/* Reset básico */
body, h1, h2, p, pre {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1{
    color: white;
}
header {
    background: #0073e6;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    color: #0073e6;
}

h2 {
    margin-bottom: 10px;
}

p, pre {
    margin: 10px 0;
}

pre {
    background: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #0073e6;
    color: #fff;
    margin-top: 20px;
}
